<h1>Add a new dose for your <%= @cocktail.name %>:</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, as: :select, prompt: 'Select an ingredient' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
